<!-- About Section -->
    <section id="past-work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Some of our projects.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The Paloma project</h4>
                                    <h4 class="subheading">Recommender systems enhance staffing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We built a reccomender system to make sense of the space between job seekers and talent seekers. Out tool analized over 50,000 want ads and generated the Paloma knolwdge graph.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Biorevolutions</h4>
                                    <h4 class="subheading">Biotech IPO prediction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We were tasked with building a tool to predict which Biotech start-ups would succeed (by reaching IPO), and what their projected IPO value would be. Our tool helps guide investment decisions, by providing quantitative valuation predictions and likelihoods to support traditional analysis in investment decisions.
                                        Do you need to estimate what your investments are projected to be worth? We can help. Need a model to predict which customers are going to buy your products? Awesome! We’ve built one of those too!
                                        Whether you need a tried and true AI or ML model–like a traditional recommender system, or you need a full custom data science solution, we’ve got you covered!

                                        </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Toth writing analysis</h4>
                                    <h4 class="subheading">Tracking tone and sentiment as you write</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thoth, named after the scribe to the gods looks over your shoulder as you write. We built a natural language processing application capable of tracking the tone and emotional content of a piece as you write it.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="Pubmed lit">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading"> Quantifying scientists by studying thier publication behavior</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Data Science can provide actionalable intellegence on which people know each other, what they are interested in, what they are good at and who they have substantial realtionships with. With these goals in mind we conducted an analaysis of millons of publications recorded in the pubmed database. Using the record of collaborations and topic matter recorded in millions of publications we were able to get important insights about the worlds scientists and the scientific community overall.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
